<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="d-flex align-items-center justify-content-between w-100">
            <div>
                <a mat-button [routerLink]="'/home'"> Home </a>
            </div>
            <div>
                <a mat-button (click)="logout()" href="javascript:void(0)"> Logout </a>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="p-5 fb-post">
    <mat-tab-group [color]="'primary'" [backgroundColor]="'primary'" class="mb-4" [selectedIndex]="selectedIndex">
        <ng-container *ngFor="let page of fbPages">
            <mat-tab [label]="page.name"></mat-tab>
        </ng-container>
    </mat-tab-group>

    <h1 class="mb-4">Post In Facebook</h1>

    <div class="form-group">
        <label class="mb-2" for="exampleFormControlTextarea1">What's on your mind?</label>
        <textarea class="form-control" [(ngModel)]="postContent" rows="3"></textarea>
    </div>

    <div class="d-flex align-items-center justify-content-end mt-3">
        <button type="submit" color="primary" (click)="post()" mat-raised-button>POST</button>
    </div>
</div>